* {
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body{
    height: 100vh;
    display: grid;
    justify-content: center;
}

.card{
    outline: solid black;

}

/* Form hidden by default */
.form-popup {
    display: none;
  }

#bookForm{
    
}

.form-container{
    display: flex;
    flex-direction: column;
}